{% extends "base.html" %}
{% block tittle %}Обо мне{% endblock %}
{% block content %}
<section class = "cards single">
    <div class = "card">
        <h2> Обо мне </h2>
        <p>
            - Я Лукьянов Сергей, мне 22 года.
        </p>
        <p>
            - Студент УЛГТУ 2 курса, учусь по специальности Информационные системы и технологии.
        </p>
        <p>
            - Изучаю языки Python, C++, C#.
        </p>
        <p>
            - Надеюсь закрыть сессию без проблем!
        </p>
        <p>
            - Люблю чистый код, понятную архитектуру
            и минималистичный дизайн.
        </p>
    </div>
</section>
{% endblock %}
