{% extends "base.html" %}
{% block tittle %}Обо мне{% endblock %}
{% block content %}
<section class = "cards single">
    <div class = "card">
        <div class = "card">
        <h2> Связаться со мной </h2>
        <p>
            <a href="https://vk.com/id244095997" target="_blank" rel="noopener noreferrer">
            VK
            </a>
        </p>
        <p>
            <a href="https://t.me/SSS073s" target="_blank" rel="noopener noreferrer">
            Telegram
            </a>
        </p>
    </div>
</section>
{% endblock %}